<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Shop Smart, Save Big!</h1>
    <p class="text-center">Search many of Ecommerce's products</p>
  </div>
</div>


<!--目錄-->
<div class="row">
  <div class="col-md-2">
    <select #c class="form-control" (change)="reloadProducts({id:c.value})">
    <option value="">選擇目錄...</option>
    <option *ngFor="let category of categories"
    value="{{category._id}}">{{category.name}}
    </option>
  </select>
  </div>
</div>
<hr>

<!--產品-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <a [routerLink]="['/product',product._id]" class=" thumbnail ">
        <img [src]="product.image ">
        <div class="caption ">
          <h4>{{product.name}}</h4>
          <p>${{product.price}}</p>
          <p>Category:{{product.category.name}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
